body{
    background-color: black;
}
.back-video{
    position:absolute;
    z-index:-1;
    top:0;
    left:0; 
    height:100%;
    margin: 0;
    padding: 0;
    opacity: 50%;
}
.pass{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 350px;
}
.password-text{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}
#Enter{
   width: 100px;
   height: 36px;
   -webkit-text-fill-color: white;
   border-radius: 10px;
   border: solid white 2px;
   background-color: #E90064;
   transition-duration: 300ms;
}
#Enter:hover{
    background-color: #94174d;
    cursor: pointer;
}
#PassordBox{
    width: 210px;
    height: 30px;
    border-radius: 10px;
    background-color: transparent;
    border: solid white 2px;
    -webkit-text-fill-color: white;
}
p{
    margin: 0;
}